@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Geist+Mono:wght@100..900&family=Lexend+Giga:wght@100..900&family=Orbitron&family=Roboto+Slab:wght@100..900&display=swap');

.coments-desing{
 background-color: wheat;
}
/*Coment post start*/
.header-coment-section{
 font-size: 20px;
 font-family: "Orbitron", serif;
 font-weight: bolder;
 font-style: normal;
}
.coment-name{
 font-family: "Play", serif;
 font-weight: 900;
 font-style: normal;
 font-size: 17px;
 font-weight:bolder;
 border-left: solid 2px;
 
}
.coment-age{
 font-family: "Play", serif;
 font-weight: 900;
 font-style: normal;
 font-size: 17px;
 font-weight:bolder;
 border-left: solid 2px;
}
.coment-text{
 font-size: 15px;
 font-family: "Lexend Giga", serif;
 font-weight: 300;
 font-style: normal;
}
#green-button-deleted{
 background-color: green;
}

.coment-hr{
 color: rgb(55, 100, 4);
}