@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    padding: 0;
}

div.WID {
    color: black;
}
header {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}
