@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    margin-right: auto;
    text-align: right;
}
div.WID {
    color: black;
    font-family: "Rubik Mono One", monospace;
    font-size: 50px;
    text-align: center;
    background-color: #3887BE;
    margin: 0px 10px 0px 10px;
    font-weight: bold;
    font-style: italic;
    box-shadow: 5px 20px 20px 0px;
}

div{
    background: grey;
}
div > div{
    text-align: center;
    text-align: justify;
    
}
div > div > p{
    width: 48%;
    padding: 0.7%;
    background-color: #38419d;
    margin: 1%;
    float: left;
    border: 1px solid black ;
    font-size: 130%;
}
.xp{
    
}
.intro{
    
    
}

